@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Montserrat:wght@300&family=Nothing+You+Could+Do&family=Spartan:wght@100&display=swap");
//Fonts
$headfont: "Spartan", sans-serif;
$headerfont: "Josefin Sans", sans-serif;
$breadfont: "Montserrat", sans-serif;
$cursivefont: "Nothing You Could Do", cursive;

//Color
$bgcolor: #f8f4ec;
$purple: #86626e;
$green: #788475;
$blue: #0d2149;
$pink: #fec0aa;
$burgundy: #800020;
$yellow: #f6bd60;
