@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@300&family=Spartan:wght@100&display=swap");
$headfont: "Spartan", sans-serif;
$headerfont: "Josefin Sans", sans-serif;
$breadfont: "Montserrat", sans-serif;

$bgcolor: #f8f4ec;
